<div class="opening home-opening">
	<div class="panel-left">
		Front-end <span class="textStrong">Tech</span> & Workflow <br />
		Where every <span class="textStrong">project</span> should consist of <span class="textStrong">the 4-P's</span>.
		<span class="topHighlight">
			<a ui-sref="preperation">Preperation</a>  / 
			<a ui-sref="planning">Planning</a> / 
			<a ui-sref="perform">Perform</a> / 
			<a ui-sref="perfect">Perfect</a>
		</span>
	</div>
</div>
<nav class="right-arrow">
	<a ui-sref="preperation">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
			<g>
			</g>
			<path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM25.414 14.586l-8-8c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l4.586 4.586h-11.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h11.172l-4.586 4.586c-0.781 0.781-0.781 2.047 0 2.829 0.391 0.39 0.902 0.586 1.414 0.586s1.024-0.195 1.414-0.586l8-8c0.781-0.781 0.781-2.047 0-2.828z" fill="#000000" />
		</svg>
	</a>
</nav>
<!--
<ol class="ideas">
	<li class="read" ng-include="'templates/preperation.html'"></li>
	<li class="read" ng-include="'templates/planning.html'"></li>
	<li class="read" ng-include="'templates/perform.html'"></li>
	<li class="read" ng-include="'templates/perfect.html'"></li>
</ol>

<ul>
	<li ng-repeat="tech in techs.dev1">{{tech.name}}</li>
</ul>

<section class="intro">
  <h2>Let's take a <span class="textGood">look</span> at some technologies!</h2>
  	<p class="tech-list">
		<em ng-repeat="techCat in techs">
	  		<span ng-repeat="tech in techCat">{{tech.name}} </span>
		</em>
	</p>
</section>

<img src="http://yeoman.io/assets/img/bullet-yo.f6f8.gif">
<img src="http://yeoman.io/assets/img/bullet-grunt.0c59.gif" />
<img src="http://yeoman.io/assets/img/bullet-bower.e181.gif"><br />

<section class="listed-tech">
	<ul ng-repeat="techCat in techs">
		<li ng-repeat="tech in techCat">
			<a href="{{tech.url}}" target="_blank">{{tech.name}}</a>
		</li>
	</ul>
</section>

<!--<h2>{{title}}</h2>
<ul>
	<li ng-class="{'text-muted': !friend.isSpecial}" ng-repeat="friend in friends">{{friend.name}}: {{friend.age}}</li>
</ul>

<ul>
	<li ng-class="{'text-muted': !friends.isSpecial}" ng-repeat="friend in friends">
		<input type="text" ng-model="friend.name">: 
		<input type="text" ng-model="friend.age">
		<button ng-click="friends.splice($index,1)">-</button>
	</li>
</ul>

<button ng-click="save()">Save!</button>

<hr />

<div class="form-item">
	<input type="text" ng-model="title">
</div>

<div class="form-item">
	<input type="text" ng-model="myValue">
</div>

<p>{{myValue}}</p>


-->
