<div class="content">
	<div class="panel-left">
		<h2>
			<span class="textStrong">Preperation</span>
		</h2>

		<span class="description">
			Look at the site, widget, or app and be able to define the problem and solution. Many like to add these to the top of their code as comments to keep them focused on the problem and solution they are coding for.
		</span>

		<pre rel="JS" class="language-markup"><code class="language-markup"><span class="token tag"><span class="token comment"> 
		//Problem: The Nav looks gross in smaller browser widths and small devices
		//Solution: To hide the text links and swap them out with a more appropriate navigation</span>

		</span></code></pre>
	</div>
</div>
<nav class="home-icon">
	<a ui-sref="home">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
			<g>
			</g>
				<path d="M32 18.451l-16-12.42-16 12.42v-5.064l16-12.42 16 12.42zM28 18v12h-8v-8h-8v8h-8v-12l12-9z" fill="#000000" />
		</svg>
	</a>
</nav>

<nav class="right-arrow">
	<a ui-sref="planning">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
			<g>
			</g>
			<path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM25.414 14.586l-8-8c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l4.586 4.586h-11.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h11.172l-4.586 4.586c-0.781 0.781-0.781 2.047 0 2.829 0.391 0.39 0.902 0.586 1.414 0.586s1.024-0.195 1.414-0.586l8-8c0.781-0.781 0.781-2.047 0-2.828z" fill="#000000" />
		</svg>
	</a>
</nav>